//********************************************
// Colors
//********************************************




$darkGray: #3f3f3f;
$textColor: $darkGray;

$darkerGray: #111111;
$headingColor: $darkerGray;

$gray: #818181;
$mutedColor: $gray;

$pink: #FA1D8C;
$primaryColor: $pink;

$lightPink:#f7f2f4;

$purple: #B02BD4;
$accentColor: $purple;

$lightGray:#f6f5f5;
