//********************************************
// Media Queries
//********************************************


@media only screen and (min-width: 1500px) {
  .pageContent {
    grid-template-columns:1fr $baseGrid*125 $baseGrid*35 1fr;
  }
}

@media only screen and (max-width: 1240px) {
  .pageTitle {
    grid-template-columns: 1fr;
  }
  .pageContent figure.two {
    grid-auto-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: $baseGrid*3;
    grid-auto-flow: row;
  }
}

@media only screen and (max-width: 980px) {
  .pageContent.pageText {
    grid-template-columns: 1fr;
    grid-template-areas: "content";
  }
  .outcomes {
    grid-template-columns: 1fr;
  }
  .pageContent {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content sidebar";
  }
}

@media only screen and (max-width: 900px) {
  header.home {
    flex-direction: column;
    padding:$baseGrid*10 0;

  }
  header {
    padding:$baseGrid*3;
    &.home .logo {
      flex-direction: column;
    }
  }
  .pageTitle {
    padding:$baseGrid*12 0 $baseGrid*5 0;
    h2 {
      font-size:$baseGrid*7;
      line-height: $baseGrid*8;
    }
    h2 + h3 {
      font-size:$baseFontSize;
      line-height: $lineHeight;

    }
  }
  .work {
    grid-template-columns: 1fr 1fr;
  }
  .about {
    grid-column-gap: $baseGrid*10;
  }
  .pageContent.pageText {
    grid-template-columns: 1fr;
  }
  .pageContent {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content sidebar";
  }
}

@media only screen and (max-width: 680px) {
  header.home {
    grid-auto-flow: row;
  }
  img.hasShadow {
    box-shadow: 0 0 $baseGrid*2 rgba(0,0,0,0.085), 0 $baseGrid*2 $baseGrid*3 rgba(0,0,0,0.085);
  }
}


@media only screen and (max-width: 620px) {
  .container {
    padding: 0 $baseGrid*3;
  }
  header.home {
    flex-direction: column;
    padding:$baseGrid*10 0;

  }
  header {
    padding:$baseGrid*2 $baseGrid*3;
    transition:all ease-in-out 200ms;
    a {
      img {
        height: 24px;
      }
    }
    h3 {
      font-size:$baseFontSize;
      line-height: $baseGrid*3;
      padding-right: 0;
      padding-left:$baseGrid*2;
      text-align: left;
    }
  }
  .info {
    grid-template-columns: 1fr 1fr;
    grid-gap: $baseFontSize;
  }
  .pageTitle {
    padding:$baseGrid*12 0 $baseGrid*5 0;
    grid-row-gap: $baseGrid*2;
    h2 {
      font-size:$baseGrid*5;
      line-height: $baseGrid*6;
    }
    h2 + h3 {
      font-size:$baseFontSize;
      line-height: $lineHeight;

    }
  }
  .pageContent {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: $baseGrid*3;
    grid-template-areas: "content" "sidebar";
    .text {

    }
    figure, figure.two {
      grid-template-columns: 1fr;
      .image {

      }
    }
  }
  .pageContent + .pageContent {
    margin-top:$baseGrid*5;
  }
  .work {
    grid-template-columns: 1fr;
  }
  .about {
    grid-template-columns: 1fr;
    .links {
      margin-top:$baseGrid*5;
    }
  }
  .lead {
    font-size:$baseFontSize;
    line-height: $lineHeight;
  }
}

@media only screen and (max-width: 425px) {
  header.home {
    padding:$baseGrid*7 0 ;
  }
  .mainContent {
    padding:$baseGrid*3 0;
  }
  .pageContent figcaption {
    font-size:14px;
  }
  p, span, em, a, strong, li {
    font-size:16px;
    line-height: $baseGrid*3;
  }
  p + p {
    margin-top:$baseGrid*2;
  }
}
