---
title: Mitch Malone
---
<header class="home">
  <div class="logo">
    <h1>Mitch Malone</h1>
    <h2>Digital Product Designer</h2>
  </div>
</header>

<section class="mainContent">
  <h3>Selected Work</h3>
  <div class="work">
    <a class="work-item" href="onboarding">
      <div class="cover vape"></div>
      <div class="work-item-card">

        <h4>Weedmaps</h4>
        <h5>A new onboarding and Sign up experience for iOS, Android, and Web</h5>


      </div>

    </a>
    <a class="work-item" href="social">
      <div class="cover engagement"></div>
      <div class="work-item-card">

        <h4>Weedmaps</h4>
        <h5>Creating a more meaningful social experience</h5>
      </div>

    </a>
    <a class="work-item" href="alerts">
      <div class="cover magazines"></div>
      <div class="work-item-card">

        <h4>Sharethrough</h4>
        <h5>Making it easier for publishers to improve their inventory by surfacing problems and opportunities</h5>
      </div>

    </a>
    <a class="work-item" href="reporting">
      <div class="cover galaxy"></div>
      <div class="work-item-card">

        <h4>Sharethrough</h4>
        <h5>Designing a new way to understand advertising sales performance</h5>
      </div>
    </a>
    <a class="work-item" href="poplibs">
      <div class="cover playing"></div>
      <div class="work-item-card">

        <h4>Poplibs</h4>
        <h5>A simple Madlibs-style game for the internet</h5>
      </div>
    </a>
    <a class="work-item" href="kareo">
      <div class="cover doctor"></div>
      <div class="work-item-card">

        <h4>Kareo</h4>
        <h5>Easily understand and pay your medical bills, message your doctor, and see your medical records.</h5>
      </div>
    </a>
  </div>
</section>
<section class="mainContent">
  <h3>About</h3>
  <div class="about">
    <div>
      <p>
        Hi! I'm a digital product designer in Orange County, CA. I have a broad skill set in digital design&mdash;user research, product discovery, rapid prototyping, visual design, and front-end engineering.
        I practice and advocate for ethical, <a href="https://medium.com/mule-design/lets-stop-doing-research-48efcd7118c9" target="_blank">evidence-based</a>, <a href="https://www.amazon.com/About-Face-Essentials-Interaction-Design/dp/1118766571/ref=pd_lpo_sbs_14_t_0?_encoding=UTF8&psc=1&refRID=YXY4BDP9H1WET404JFCM" target="
        _blank">goal-directed design</a> as well as Lean Startup-style <em>Build-Measure-Learn</em> practices. My opinions are strong but held loosely.
      </p>
      <p>
        I've been practicing digital design for 8 years. I have a graduate degree in Information Science from <a href="https://www.sice.indiana.edu/" target="_blank">Indiana University, Bloomington</a>. I've built design systems, research programs, MVPs, enterprise software, and consumer products. Been around the block.
      </p>
    </div>
    <div class="links">
      <h4>Twitter</h4>
      <a href="">TheSocialMitch</a>
      <h4>LinkedIn</h4>
      <a href="">View Profile</a>
      <h4>Dribbble</h4>
      <a href="">mitchmalone</a>
      <h4>Email</h4>
      <a href="">mitch@mitchmaloneonline.com</a>
    </div>
  </div>
</section>
