---
title: Kareo Patient Portal
---
<header class="article">
  <a href="./">
    <img src="images/ic_arrow_back.svg" />

  </a>
  <h3>Kareo Patient Portal</h3>
</header>
<section class="pageTitle">
  <h2>Kareo Patient Portal</h2>
  <h3>
    Easily understand and pay your medical bills, message your doctor, and see your medical records.
  </h3>
  <div class="info">
    <div class="point">
      <h4>Date</h4>
      <p>
        June 2013
      </p>
    </div>
    <div class="point">
      <h4>Industry</h4>
      <p>
        Healthcare
      </p>
    </div>
    <div class="point">
      <h4>URL</h4>
      <a href="portal.kareo.com" target="_blank">
        http://portal.kareo.com
      </a>
    </div>
    <div class="point">
      <h4>Role</h4>
      <p>
        Lead Designer
      </p>
    </div>

  </div>
</section>

<div class="pageHero">
  <img class="hasShadow" src="../images/portal.png" />
</div>
<div class="pageContent pageText">
  <div class="text">
    <h3>Problem</h3>
    <p class="lead">
      Communicating with healthcare providers and understanding your health is a serious problem in the United States. Medical records, payment systems, messaging are typically run on outdated technology.
    </p>
    <p>
      Kareo Patient Portal aims to help reduce frustation in three areas: payments, health records, and patient-provider communication.
    </p>
    <h4>
      Payments
    </h4>
    <ol>
      <li>
        Insurance payments come after claims have been received. But patients don't know what they will be charged and what their insurance will cover. This is called an EOB&mdash;an Explanation of Benefits. It looks like a bill but it isn't. You get that later.
      </li>
      <li>
        When you owe money not covered by your insurance, you'll receive a bill from the provider. If the provider is a small medical office (1-5 doctors), the bill will be a cryptic, indecypherable mess.
      </li>
      <li>
        Once you figure out what you owe to your doctor, many times you are required to pay by check or over the phone. A barrier that prevents people from paying on time.
      </li>
    </ol>
    <h4>Health Records</h4>
    <p>
      Simply getting access to your healthcare records can be a nightmare. We wanted to design an accessible and simple way to see your current and past medical histories using baselines set by the federal government.
    </p>
    <p>
      One problem I wish we worked on was <a href="http://www.healthcareitnews.com/news/ehr-interoperability-connectivity-big-challenge-around-globe-new-study-finds" target="_blank">interoperability</a>. Healthcare records are locked in databases owned by insurance and healthcare providers. This data is a valuable commodity for the organization (it increases switching costs for the patient and thus creates a defensive mote around the company) and they are not keen to share it.
    </p>
    <p>
      However, by locking data in these silos, it prevents accurate information from reaching doctors at the right time and leads to poor health outcomes for patients.
    </p>
    <h4>Messaging</h4>
    <p>
      The Patient Protection and Affordable Care Act (aka Obamacare) included incentives for healthcare providers to allow patients to securely message their doctors. As a doctor, if you gave your patients a website where they could email or otherwise message you, the federal government would send you a check for several thousand dollars.
    </p>
  </div>
</div>
