---
title: A new onboarding and Sign up experience for iOS, Android, and Web
---
<header class="article">
  <a href="./">
    <img src="images/ic_arrow_back.svg" />
  </a>
  <h3>
    Weedmaps Onboarding
  </h3>
</header>
<section class="pageTitle">
  <h2>Weedmaps Onboarding</h2>
  <h3>
    In January 2018, California&mdash;Weedmaps' largest market&mdash;was set to legalize recreational cannabis. The potential for the business was undeniable so we wanted to make it easier than ever to enter the cannabis community.
  </h3>
  <div class="info">
    <div class="point">
      <h4>Date</h4>
      <p>
        January 2018
      </p>
    </div>
    <div class="point">
      <h4>Industry</h4>
      <p>
        eCommerce
      </p>
    </div>
    <div class="point">
      <h4>Role</h4>
      <p>
        Interaction and UI Design
      </p>
    </div>
    <div class="point">
      <h4>Platform</h4>
      <p>
        iOS, Android, Responsive Web
      </p>
    </div>
  </div>
</section>

<div class="pageHero">
  <img src="../images/onboarding-1.png" />
</div>
<div class="pageContent pageText">
  <div class="text">
    <h3>Problem</h3>
    <p class="lead">
      Recreational legalization in California has the potential to unlock a huge new market for Weedmaps and send the company into a tremendous growth trajectory. Activating those users is critical to the business. But Weedmaps' value proposition isn't immediately clear when you get into the app. We needed to clear up why you'd create an account and enable key device features to get the most out of the product.
    </p>
    <p>
      Overall, we had two main questions: how do we easily communicate the value of device features (location and notifications) and how to make it dead-simple to create an account?
    </p>
  </div>

</div>


<div class="pageContent pageText">
  <div class="text">
    <h3>Goals</h3>
    <ol>
      <li>
        <strong>Make Weedmaps more understandable.</strong> Does a lot of things. It’s hard to get a sense of how Weedmaps can help you in your cannabis journey. When we asked how we might make Weedmaps easier to understand, we thought a clear onboarding experience would help.
      </li>
      <li>
        <strong>Make it really easy to create an account.</strong> Confirmed, logged-in users are very important to Weedmaps, particularly it’s ad business. We wanted to make it really easy for users to sign up to take advantage of all the great features we have to offer.
      </li>
    </ol>

  </div>
</div>
<div class="pageContent pageText">
  <div class="text">
    <h3>Solution</h3>
    <p>
      We needed users to understand why we need location and notification services turned on. When these services are turned off, it makes the Map and Ordering systems not as useful. We wanted a better way of communicating this to our users. We worked with marketing, product managers, engineers, and other designers to think through a simple onboarding flow to help guide users and enable these key device features.
    </p>
    <p>
      We also found problems with users creating and maintaining accounts. Many users will use Weedmaps in “incognito” mode on web browsers or delete the app from their phone after downloading. Due to some stigmas around cannabis, many don’t want an app called Weedmaps on their phone. So they download, complete their task, and delete it immediately. This means we’ve lost any log in information about that user, which means many users don’t log in.
    </p>
    <p>
      Federated authentication and sign in would help us with this problem. We planned to add “Continue with Facebook” and “Continue with Google” buttons to make the sign in/create account process dead-simple.
    </p>
  </div>
</div>
<div class="pageContent">
  <figure class="four-row">
    <img class="hasShadow" src="../images/onboarding/splash.png" />
    <img class="hasShadow" src="../images/onboarding/value1.png" />
    <img class="hasShadow" src="../images/onboarding/value2.png" />
    <img class="hasShadow" src="../images/onboarding/value3.png" />
  </figure>
  <figcaption>
    Some early wireframes for the new onboarding experience. It would start with some information panels that would autorotate and the federated sign in options.
  </figcaption>
</div>
<div class="pageContent">
  <figure class="four-row">
    <img class="hasShadow" src="../images/onboarding/locationRequest_auth-with-FB-G.png" />
    <img class="hasShadow" src="../images/onboarding/locationRequest_auth-with-FB-G_dialog.png" />
    <img class="hasShadow" src="../images/onboarding/notificationRequest.png" />
    <img class="hasShadow" src="../images/onboarding/notificationRequest_dialog.png" />
  </figure>
  <figcaption>
    If the user signs in with Facebook or Google, we would grab a photo if available and use it in the rest of the onboarding flow.
  </figcaption>
</div>
<div class="pageContent">
  <figure class="four-row">
    <img src="../images/onboarding/userflow.png" />
  </figure>
  <figcaption>
    End-to-end user flow for onboarding and federated authentication with Facebook and Google.
  </figcaption>
</div>
<div class="pageContent">
  <figure class="four-row">
    <img src="../images/onboarding/newlogin.png" />
  </figure>
  <figcaption>
    Final visual design for the sign in experience on iOS.
  </figcaption>
</div>
<div class="pageContent">
  <figure class="four-row">
    <img src="../images/onboarding/valueProps.png" />
  </figure>
  <figcaption>
    Final visual design for the value proposition slides in the onboarding experience for iOS.
  </figcaption>
</div>
<div class="pageContent pageText">
  <div class="text">
    <h3>The Outcome</h3>
    <div class="outcomes">
      <div class="panel">
        <h2>+159%</h2>
        increase daily average signups
      </div>
      <div class="panel">
        <h2>-11%</h2>fewer password resets
      </div>
      <div class="panel">
        <h2>+21%</h2>DAU with location services enabled
      </div>
    </div>
  </div>
</div>
