---
title: Sharethrough Reporting Framework
---
<header class="article">
  <a href="./">
    <img src="../images/ic_arrow_back.svg" />
  </a>
  <h3>
    Sharethrough Reporting Framework
  </h3>
</header>
<section class="pageTitle">
  <h2>Designing a new way to understand advertising sales performance</h2>
  <h3>
    The Sharethrough Reporting Framework offers a standardized, goal-oriented way of thinking about ad sales performance.
  </h3>
  <div class="info">
    <div class="point">
      <h4>Date</h4>
      <p>
        January 2016
      </p>
    </div>
    <div class="point">
      <h4>Industry</h4>
      <p>
        Advertising
      </p>
    </div>
    <div class="point">
      <h4>Role</h4>
      <p>
        Design Lead
      </p>
    </div>
    <div class="point">
      <h4>Platform</h4>
      <p>
        Web
      </p>
    </div>
  </div>
</section>
<div class="pageHero">
  <img class="hasShadow" src="../images/sharethrough.png" />
</div>
<div class="pageContent pageText">
  <div class="text">
    <h3>Background</h3>
    <p class="lead">
      As a sales tool, Sharethrough for Publishers offers several dashboards and reports to help publishers understand what they are selling. But each worked a bit differently, terminology varied report to report, and users found the software frustrating to use.
    </p>
    <p>
      Sharethrough is a technology company that provides a platform for advertisers and publishers to buy and sell native advertising. This is a new format for promoting content on the internet. It's main goal is to be less interruptive and fit nicely into the site or app that it's on. Above all, Sharethrough aims at improving the user experience of advertising.
    </p>
  </div>

</div>
<div class="pageContent">
  <figure>
    <img class="" src="../images/native-ad.jpg" />

  </figure>
  <figcaption>
    A native ad has six basic components: a URL, thumbnail, headline, description, brand, and a brand disclosure. These components can be lifted from a URL via Open Graph metadata and converted into a native ad in real time. Image via <a href="http://nativeadvertising.com" target="_blank">nativeadvertising.com</a>
  </figcaption>
</div>
<div class="pageContent pageText">
  <div class="text">
    <h3>The Problem</h3>
    <p>
      When I started with Sharethrough, it was difficult to answer specific questions with the old reporting interface. These pointed and actionable questions were left to be answered by Account Managers and engineers. This led to a lot of operational costs for the company. We needed to design a reporting system for answering basic and sophisticated questions.
    </p>
    <p>
      Since reporting on ad sales is such a fundamental job of the platform, we also wanted to develop a flexible framework that would apply to most types of reports. This way, we wouldn't have to reinvent the wheel everytime we had to design a new report.
    </p>
  </div>
</div>
<div class="pageContent pageText">
  <div class="text">
    <h3>Discovery</h3>
    <p>
      My discovery process always starts with interviews. For this project, I interviewed internal stakeholders like account managers and publisher customers. I wanted to understand the problem and what they were using to solve it. As I listened to these people, I found some patterns emerging. They usually wanted to understand performance of something across multiple dimensions. This led me to the formation of an effective mental model—levels and dimensions.
    </p>
  </div>
</div>
<div class="pageContent">
  <figure>
    <img style="padding:24px;" class="hasShadow" src="../images/levels-and-dimensions.png" />
  </figure>
  <figcaption>
    SFP Reporting Matrix. This represents "levels and dimensions"—the mental model for our reporting design.
  </figcaption>
</div>
<div class="pageContent pageText">
  <div class="text">
    <p>
      Publishers ask questions about their ad units and revenue when it at a certain level (publisher, website, placement) and through a certain lens (by source, by device). If you put those two concepts (levels and dimensions) into a matrix, you find that the questions fit nicely into each cell. And you can see patterns about what type of question is going to be asked. Some questions are strictly operational (e.g., is the technology working?) and some are more strategic in nature. Some are about what kinds of campaigns a publisher should sell and where. We want to be software that can answer all these questions and with this approach, we think we can.
    </p>
  </div>
</div>
<div class="pageContent pageText">
  <div class="text">
    <h3>The Solution</h3>
    <p>
      With a strong understanding of our users' needs and problems, we were able to prototype solutions.
    </p>
  </div>
</div>
<div class="pageContent">
  <figure class="four">
    <img class="hasShadow" src="../images/programmatic-placement.png" />
    <img class="hasShadow" src="../images/microscope-placement.png" />
    <img class="hasShadow" src="../images/mediation-wireframe.png" />
    <img class="hasShadow" src="../images/bid-distribution.png" />

  </figure>
  <figcaption>
    This is the concept model we based our first experiment on. In this model, the problems and opportunities are "sensed" by the platform and brought forward to the product surface to a place called the Alert Index. These alerts also trigger an email which also brings the user to the Alert Index. The first experiment didn't have all of these features but it gave us something to work off of.
  </figcaption>
</div>
<div class="pageContent">
  <figure>
    <img class="hasShadow" src="../images/sharethrough.png" />

  </figure>
  <figcaption>
    When you first enter the product, you get high-level performance metrics. This level is gives you a sense of the health of your overall native monetization. The "dimensions" you can see at this level are Channels (the sales methods) and Placements (your individual ad units).
  </figcaption>
</div>
<div class="pageContent">
  <figure>
    <img class="hasShadow" src="../images/programmatic.jpg" />

  </figure>
  <figcaption>
    From the dashboard, we can go "down" a level into Programmatic—a channel that operates on a real-time auction.
  </figcaption>
</div>
<div class="pageContent">
  <figure>
    <img class="hasShadow" src="../images/intel.jpg" />

  </figure>
  <figcaption>
    From the Programmatic report, we can go down another "level" and look at a specific brand that is buying through that channel.
  </figcaption>
</div>
<div class="pageContent">
  <figure>
    <img class="hasShadow" src="../images/creative.jpg" />

  </figure>
  <figcaption>
    This framework works in any type of report. Here, we're look at an ad sold directly by the publisher.
  </figcaption>
</div>




<div class="pageContent pageText">
  <div class="text">
    <h3>Outcome</h3>
    <p>
      With this new reporting framework, we can speed up development and rapidly test out new ideas for reports. We've also vastly reduced the number of support tickets for mundane reporting questions. Users will log in and be able to answer most questions they have about their native monetization.
    </p>
    <p>
      We frequently survey our customers on a variety of topics but one thing we consistently hear is that our reporting is the best among all the other partner platforms that they use. It is very easy to use and extremely robust. Personally, this is what I love hearing the most.
    </p>
  </div>
</div>
