---
title: Creating a more meaningful social experience
---
<header class="article">
  <a href="./">
    <img src="images/ic_arrow_back.svg" />
  </a>
  <h3>
    Weedmaps Social Experience
  </h3>
</header>
<section class="pageTitle">
  <h2>Weedmaps Social Experience</h2>
  <h3>
    The Weedmaps Social Experience was severely underserved. But my team saw a tremendous opportunity and worked with internal stakeholders and users to connect it to larger business objectives.
  </h3>
  <div class="info">
    <div class="point">
      <h4>Date</h4>
      <p>
        June 2018
      </p>
    </div>
    <div class="point">
      <h4>Industry</h4>
      <p>
        eCommerce
      </p>
    </div>
    <div class="point">
      <h4>Role</h4>
      <p>
        Interaction, UI Design, Product Management
      </p>
    </div>
    <div class="point">
      <h4>Platform</h4>
      <p>
        iOS, Android, Responsive Web
      </p>
    </div>
  </div>
</section>

<div class="pageHero">
  <img src="../images/social/ios.png" />
</div>
<div class="pageContent pageText">
  <div class="text">
    <h3>Opportunity</h3>
    <p class="lead">
      Weedmaps is one of the best places to go to talk about cannabis. Thousands of people everyday to to Weedmaps to post pics of strains they grow; patients ask questions for experts; folks looking for the best dispensaries around; others providing impromptu reviews of products they just bought. Other users comment and a lively conversation ensues.
    </p>
    <p>
      This community has been growing organically over the last eight or nine years. The company hasn’t put to much thought into it as other initiatives take priority.
    </p>
    <p>
      But my team saw things differently. We see incredibly unique behaviors that don’t happen elsewhere on the internet. We see wake-and-bake ceremonies, greetings to new members, users saying hello to each other. It’s a genuinely nice online community. We wanted to take it to the next level.
    </p>
    <p>
      We see Weedmaps Social as a driver of the advertising and commerce components of the business. Weedmaps lets users search and find storefronts, doctors, products, and brands as well as place orders for delivery, pick-up, and mail order in some areas.
    </p>
  </div>

</div>
<div class="pageContent">
  <figure>
    <img src="../images/social/socialbizmap2.png">

    </img>
  </figure>
  <figcaption>
    This is a user growth model that tries to connect to the dots between social engagement on Weedmaps and the larger business units like commerce and advertising.
  </figcaption>
</div>
<div class="pageContent pageText">
  <div class="text">
    <h3>Users</h3>
    <p>
      We’ve identified three main types of people that use Weedmap’s social feature:
    </p>
    <ol>
      <li>
        Growers. These are people who might be hobbist or commercial growers of cannabis. They want to share photos their plants and strains to show their skills or to grow their business.
      </li>
      <li>
        Explorers. Some people are new to an area or to the cannabis world and they want to get a better sense of it. Weedmaps Social is one of the best places to go to learn more about where to go, about strains, and to get a feel for this space. Explorers want to answers to questions they pose and to learn more about the cannabis world.
      </li>
      <li>
        Community Leaders. While there is a lot of overlap with growers, Community Leaders want to start conversations with new posts (e.g., photos of their grows, posting photos of products they bought) and they want to help explorers navigate through the waters of the cannabis world.
      </li>
    </ol>
  </div>
</div>
<div class="pageContent pageText">
  <div class="text">
    <h3>The Problem</h3>
    <p>
      Our Weedmaps Social users are doing the things that are good for the business—discussing strains, products, reviewing listings, etc. The problem is that the product doesn’t make the necessary connections in order to start the growth engine.
    </p>
    <p>
      We decided to start with reviews and social posts. Users write reviews and other users can mark them helpful. It’s a basic function that you see on Yelp, Amazon, and other marketplace products. But Weedmaps doesn’t inform users that they’re review was helpful, which is one of the goals of the action. Same for social posts—there’s no indication that someone liked or commented on your post.
    </p>
    <p>
      What’s also lost in this interaction is the growth of the social graph. When a user finds your review helpful, not only should we tell you that happened, but we also want that user to explore that user’s profile to see their reviews to find those reviews helpful. This creates a virtuous loop that leads to more retention, more helpful reviews and more reviews in general.
    </p>
  </div>
</div>
<div class="pageContent pageText">
  <div class="text">
    <h3>Solution</h3>
    <p>
      Working with product managers, engineers, moderations, and marketing, we designed a notification loop that aimed to increase retention, increase helpful engagement on reviews, and ultimately lead to more reviews on Weedmaps.
    </p>
  </div>
</div>
<div class="pageContent">
  <figure>
    <img src="../images/social/notificationWorkFlow.png" />
  </figure>
  <figcaption>
    This is the basic user flow for one of our notification initatives for reviews. Users can mark reviews helpful and when that happens we want to tell the author that that happened.
  </figcaption>
</div>
<div class="pageContent">
  <figure>
    <img src="../images/social/notificationLogic.png" />
  </figure>
  <figcaption>
    This flow diagram describes the logic for how in-app notifications work.
  </figcaption>
</div>
<div class="pageContent">
  <figure>
    <img src="../images/social/notificationUserFlow.png" />
  </figure>
  <figcaption>
    The end-to-end user flow for the "Helpful Loop" including empty states and some conditions for edge cases.
  </figcaption>
</div>
<div class="pageContent">
  <figure>
    <img src="../images/social/mobile-web.png" />
  </figure>
  <figcaption>
    The final visual design for the basic responsive web user flow from notification to viewing the profile of the user who found your review helpful.
  </figcaption>
</div>
<div class="pageContent">
  <figure>
    <img src="../images/social/ios.png" />
  </figure>
  <figcaption>
    The final visual design for the basic iOS user flow from notification to viewing the profile of the user who found your review helpful.
  </figcaption>
</div>
<div class="pageContent">
  <figure>
    <img src="../images/social/drd.png" />
  </figure>
  <figcaption>
    The final visual design for the basic Android user flow from notification to viewing the profile of the user who found your review helpful.
  </figcaption>
</div>
<div class="pageContent">
  <figure>
    <img src="../images/social/notificationList.png" />
  </figure>
  <figcaption>
    The in-app notification list. This lets users manage their notifications in case they miss the push or email message. For our first release, we only engineered two notification experiences&mdash;one for when users find your reviews helpful and when businesses owners reply to your reviews with an "Offical Response."
  </figcaption>
</div>
<div class="pageContent">
  <figure>
    <img src="../images/social/notificationSettings.png" />
  </figure>
  <figcaption>
    Settings so users can determine how they want to receive messages from Weedmaps.
  </figcaption>
</div>
<div class="pageContent pageText">
  <div class="text">
    <h3>The Outcome</h3>
    <div class="outcomes">
      <div class="panel">
        <h2>+45%</h2>
        increase in Helpfuls MoM
      </div>
      <div class="panel">
        <h2>+3%</h2>more reviews MoM
      </div>
      <div class="panel">
        <h2>+20%</h2>more profile pageviews
      </div>
    </div>


  </div>
</div>
